@charset "utf-8";
@font-face{
    font-family: verdana;
    src: url("cac_champagne.woff") format("woff"),
         url("cac_champagne.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/

body{
    font-family: verdana, Arial, sans-serif;
}

